.formWrapper {
  max-width: 420px;
  padding: 33px 36px;
  text-align: center;
}

.instructionText {
  margin-bottom: 50px;
  color: var(--color-light-900);
  text-align: left;
  opacity: 0.5;
}

.signInLink {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  color: var(--color-accent-500);

  &:visited {
    color: var(--color-accent-500);
  }
}

.input {
  margin: 20px 0;
  text-align: left;
}

.formHeader {
  margin: 0 0 28px;
}

.questionText {
  margin: 20px 0 5px;
  color: var(--color-light-900);
}
