.root {
  text-align: center;

  .userNameWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
  }

  .user {
    line-height: 16px;
  }

  .editNameButton {
    all: unset;
    cursor: pointer;
    padding: 0.4rem;
    display: inline-flex;

    &:hover {
      opacity: 0.8;
    }

    &:focus-visible {
      border: 1px solid var(--color-info-700);
    }
  }

  .email {
    margin-bottom: 1.3rem;
    color: var(--color-dark-100);
  }
}
