.formWrapper {
  max-width: 420px;
  padding: 33px 36px;
  text-align: center;
}

.formHeader {
  margin: 0 0 28px;
}

.instructions {
  margin: 20px 0 40px;
  color: var(--color-light-900);
}

.input {
  margin: 20px 0;
  text-align: left;
}